# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Logs
*.log

# Node / k6
node_modules/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
